<ifModule mod_rewrite.c>
    RewriteEngine On


    RewriteBase /mvcshop
    RewriteBase /mvcshop/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1



</ifModule>